.input {
    display: flex;
    margin-top: 10%;
}

#input {
    width: 40%;
    margin-left: 25%;
    height: 40px;
    border-radius: 10px;
}

#extract-weather {
    border-radius: 10%;
}

#display {
    margin-left: 25%;
    background-color: ivory;
    width: 40%;
    margin-top: 2%;
}